In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

### GROUP BY

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [4]:
df_green.createOrReplaceTempView('green')

In [9]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour,
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) as number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1,2
""")

In [10]:
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-17 11:00:00|  41| 513.6600000000003|            46|
|2020-01-30 13:00:00|  75| 1330.859999999999|            76|
|2020-01-27 20:00:00| 244|398.00000000000006|            16|
|2020-01-16 10:00:00|  74|1021.2199999999987|            80|
|2020-01-24 17:00:00| 260| 308.0600000000001|            27|
|2020-01-03 01:00:00|  80|             80.61|             6|
|2020-01-08 14:00:00|  33| 687.7900000000001|            34|
|2020-01-07 19:00:00|  66|324.78000000000003|            19|
|2020-01-14 12:00:00|  21|             90.22|             2|
|2020-01-17 17:00:00|  41| 845.2499999999994|            66|
|2020-01-02 09:00:00|   7|367.50000000000017|            30|
|2020-01-15 20:00:00| 145|             39.41|             2|
|2020-01-06 19:00:00|  92| 293.2000000000001|            18|
|2020-01-24 11:00:00| 129| 360.1600000000001|            20|
|2020-01-10 15:00:00| 166| 697.8199999999996|            55|
|2020-01-11 15:00:00| 241|            101.31|             4|
|2020-01-14 01:00:00|  92|100.19999999999999|             9|
|2020-01-02 12:00:00|   7| 352.7600000000001|            23|
|2020-01-10 11:00:00|  95|488.52000000000015|            30|
|2020-01-30 04:00:00| 117|             54.59|             3|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [17]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

In [12]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [13]:
df_yellow.createOrReplaceTempView('yellow')

In [14]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour,
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) as number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1,2
""")

In [16]:
df_yellow_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-01 08:00:00| 162| 767.8100000000003|            46|
|2020-01-04 18:00:00| 140|2618.9099999999985|           169|
|2020-01-27 16:00:00|  88|1478.9999999999995|            53|
|2020-01-05 02:00:00| 114| 5647.420000000002|           329|
|2020-01-19 23:00:00|  90|2217.8799999999987|           150|
|2020-01-23 17:00:00| 140| 6545.520000000008|           364|
|2020-01-09 11:00:00| 107|3677.2599999999966|           240|
|2020-01-26 20:00:00| 239|2532.9399999999987|           178|
|2020-01-03 23:00:00| 132| 24519.23999999997|           448|
|2020-01-26 20:00:00| 236|3540.5199999999977|           242|
|2020-01-24 19:00:00| 186|11532.320000000029|           625|
|2020-01-24 03:00:00| 264|             249.6|            11|
|2020-01-31 15:00:00| 143|2763.2299999999977|           182|
|2020-01-23 21:00:00| 142|12377.530000000039|           753|
|2020-01-23 07:00:00| 140| 4083.159999999997|           250|
|2020-01-22 08:00:00| 141| 7261.750000000013|           488|
|2020-01-04 09:00:00|  48| 3060.649999999997|           209|
|2020-01-27 22:00:00| 162|  7572.97000000001|           426|
|2020-01-04 19:00:00| 249| 4428.489999999997|           281|
|2020-01-12 16:00:00| 107|3240.6299999999974|           191|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [18]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

### JOIN

In [19]:
df_green_revenue = spark.read.parquet('data/report/revenue/green/')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow/')

In [20]:
df_green_revenue_temp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records') 

df_yellow_revenue_temp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [22]:
df_join = df_green_revenue_temp.join(df_yellow_revenue_temp, on=['hour', 'zone'], how='outer')

In [23]:
df_join.show()

+-------------------+----+-----------------+--------------------+------------------+---------------------+
|               hour|zone|     green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+-----------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|   7|769.7299999999997|                  45| 455.1700000000001|                   38|
|2020-01-01 00:00:00|  13|             NULL|                NULL|1214.8000000000002|                   56|
|2020-01-01 00:00:00|  18|              7.8|                   1|               5.8|                    1|
|2020-01-01 00:00:00|  32|68.94999999999999|                   2|              18.0|                    1|
|2020-01-01 00:00:00|  34|             NULL|                NULL|              19.3|                    1|
|2020-01-01 00:00:00|  83|94.09999999999998|                   7|               9.8|                    1|
|2020-01-01 00:00:00|  90|             NULL|                NULL| 5010.450000000001|                  266|
|2020-01-01 00:00:00|  94|64.24000000000001|                   3|              13.3|                    1|
|2020-01-01 00:00:00| 114|             NULL|                NULL| 6256.430000000005|                  333|
|2020-01-01 00:00:00| 126|             NULL|                NULL|             170.6|                    2|
|2020-01-01 00:00:00| 134|            69.05|                   6|              NULL|                 NULL|
|2020-01-01 00:00:00| 146|99.36999999999999|                   6|110.74000000000001|                    7|
|2020-01-01 00:00:00| 161|             NULL|                NULL| 9410.210000000017|                  488|
|2020-01-01 00:00:00| 170|             NULL|                NULL| 8266.010000000018|                  463|
|2020-01-01 00:00:00| 192|             12.3|                   1|              NULL|                 NULL|
|2020-01-01 00:00:00| 231|             NULL|                NULL|           4822.66|                  245|
|2020-01-01 00:00:00| 262|             NULL|                NULL|2239.5199999999986|                  149|
|2020-01-01 01:00:00|  29|            32.04|                   2|              27.0|                    1|
|2020-01-01 01:00:00|  35|           239.37|                   8|              99.4|                    2|
|2020-01-01 01:00:00|  37|            88.16|                   4|            736.46|                   24|
+-------------------+----+-----------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [24]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

In [27]:
df_join.columns

['hour',
 'zone',
 'green_amount',
 'green_number_records',
 'yellow_amount',
 'yellow_number_records']

In [29]:
df_zones = spark.read.parquet('zones/')

In [30]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [34]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue-zones')